<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
   <div id="app">
      <my-component/>

   </div>
   <script>
    //    组件 (Component) 是 Vue.js 最强大的功能之一。
//     组件可以扩展 HTML 元素，封装可重用的代码。在较高层面上，
//     组件是自定义元素，Vue.js 的编译器为它添加特殊功能。
//     在有些情况下，组件也可以表现为用 is 特性进行了扩展的原生 HTML 元素。

// 所有的 Vue 组件同时也都是 Vue 的实例，所以可接受相同的选项对象 (除了一些根级特有的选项) 并提供相同的生命周期钩子。
//  扩展了一个全局组件 
// 注意：1.tagName是可以切换为单标签的。
// 2.template的模板必须有一个盒子作为最外层包裹
//3.只有在v-if,v-else,v-else-if下，我们可以写多个盒子，但其本身依旧是只显示一个盒子
var data={message:'helloworld'}
  Vue.component('my-component', {
      template:"<div v-if='message'><input v-model='message' type='text'/><p>{{message}}</p></div><div v-else>111</div>",
      data:function(){
        return data
       }
  });
   var app = new Vue({
       el:'#app'
   })


   </script> 
</body>
</html>